*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

body{
    background-color: rgb(31, 31, 57);
    color: white;
}

h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 800;
}

#search-box{
    height: 50px;
    width: 500px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
}

#button{
    height: 50px;
    width: 100px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

#button:active{
    background-color: rgb(63, 63, 134);
    color: white;
}

form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#show-more{
    padding: 10px;
    border: 0;
    outline: 0;
    display: none;
    margin: 10px auto 100px;
    border-radius: 3px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

#show-more:active {
    background-color: rgb(63, 63, 134);
    color: white;
}

#output{
    width: 80%;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

@media(max-width: 900px){
    #output {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px) {
    #output {
        display: grid;
        grid-template-columns:1fr;
    }

    #button{
        border-radius: 7px;
    }

    #search-box{
        border-radius: 7px;
        margin: 20px;
    }

}

